{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "jest": "./jest",
        "schema": "./src/schema",
        "type": "./src/schema/type",
        "enum": "./src/schema/enum",
        "interface": "./src/schema/interface",
        "query": "./src/schema/query",
        "field": "./src/schema/field",
        "data": "./src/data",
        "utils": "./src/schema/utils"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
